.body-info {
  display: flex;
  align-items: flex-end;
  padding: 10px;
}

.body-info > img {
  height: 20vw;
  margin: 0 20px;
  box-shadow: 0 4px 60px rgb( 0, 0, 0, 0.5);
  transition: 200ms ease-in-out;
}

.body-info > img:hover {
  transform: scale(1.1)
}

.body-infoText {
  flex: 1;
}

.body-infoText > h2 {
  font-size: 48px;
  margin-bottom: 10px;
}

.body-infoText > p {
  font-size: 18px;
}

/* appear - on page load */
.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 600ms linear;
}

/* enter */
.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 600ms linear;
}

/* exit */
.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 600ms linear;
}

.fade-exit-done {
  opacity: 0;
}